<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |user| %>
      <tr>
        <td>
          <%= user.username %>
        </td>

        <td>
        <% if user.private == true %>
          Yes
        <% else %>
          No
        <% end %>
        </td>

        <td>
        <% if current_user != nil %>
        
        <% if FollowRequest.where(recipient_id: user.id, sender_id: current_user.id, status: 'accepted').exists? %>
        <% follow_request_accepted = FollowRequest.where(recipient_id: user.id, sender_id: current_user.id, status: 'accepted').first %>
         <a href="/delete_follow_request/<%=follow_request_accepted.id%>">
            Unfollow
         </a>       
        
        <% elsif FollowRequest.where(recipient_id: user.id, sender_id: current_user.id, status: 'pending').exists? %>
        <% follow_request_pending = FollowRequest.where(recipient_id: user.id, sender_id: current_user.id, status: 'pending').first %>
          Request sent.
          <a href="/delete_follow_request/<%=follow_request_pending.id%>">
              Cancel
          </a>
        <% else %>

          <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= user.id %>">
          <button>
            Follow
          </button>
                  
        <% end %>  
     
        <% else %>
        <% end %>
        </td>

        <td>
        <a href="/users/<%= user.username %>">Show details</a>
        </td>
        
      </tr>
      <% end %>
    </table>
  </div>
</div>
