<div>
  <div>
    <h1>
      <%= @the_user.username %>
    </h1>

    <dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <!-- Enter association with FollowRequest Followers -->
    <% accepted_followers = @the_user.received_follow_requests.where(status: 'accepted') %>
    <%= accepted_followers.count %>

<% if @the_user.username == current_user.username %>

    </div>

      <h4>Pending follow requests</h4>

      <ul>
            <% pending_followers = @the_user.received_follow_requests.where(status: 'pending') %>
            <% pending_followers.each do |pending| %>
            <% pending_follower_id = pending.sender_id  %>
            <% matching_record = User.where(:id => pending_follower_id) %>
            <li>
            <%= matching_record.first.username %>
            
            <form action="/modify_follow_request/<%= pending.id%>" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>

            <form action="/modify_follow_request/<%= pending.id%>" method="post">
              <input name="query_status" value="rejected" type="hidden">
            
              <button>
                Reject
              </button>
            </form>

            </li>
            <% end %>            
         
      </ul>
  </div>

<% elsif FollowRequest.where(recipient_id: @the_user.id, sender_id: current_user.id, status: 'accepted').exists? %>
<% follow_request = FollowRequest.where(recipient_id: @the_user.id, sender_id: current_user.id, status: 'accepted').first %>
      <div>
          <a href="/delete_follow_request/<%= follow_request.id %>">
            Unfollow
          </a>
    </div>

<% else%>

      <div>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">

            <button>
              Follow
            </button>
          </form>
    </div>

<% end%>


  <dt>Following</dt>
  <dd>
  <!-- Enter association with FollowRequest Following -->
    <% accepted_following = @the_user.sent_follow_requests.where(status: 'accepted') %>
    <%= accepted_following.count %>
  </dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<% owned_photos = @the_user.owned_photos %><%= owned_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% owned_photos = @the_user.owned_photos %>
  <% owned_photos.each do |photo|%>
    
  <tr>
      <td>
      <img src="<%= photo.image %>" class="img-responsive">
    </td>

    <td>
      <%= @the_user.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(photo.created_at) %> ago
    </td>

    <td>
    <% likes = photo.likes %>
    <%= likes.count %>
    </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end%>
</table>
